body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh; 
}

.sidebar {
    background-color: #1a237e;
    color: #ffffff;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile h3 {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav ul li a i {
    margin-right: 10px;
}

.user-info {
    text-align: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-content {
    background-color: #e0f7fa;
    flex-grow: 1;
    padding: 20px;
    width: calc(100% - 250px); 
}

.main-content h1 {
    text-align: center;
    color: #1a2b5d;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.card h2 {
    margin-bottom: 20px;
}

.card button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1a237e;
    color: #ffffff;
    cursor: pointer;
}

.card button:hover {
    background-color: #34495e;
}

.mission-vision {
    display: flex;
    justify-content: space-around;
}

.mission, .vision {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 43%;
    
}

.mission h2, .vision h2 {
    text-align: center;
    color: #151516;
}

.mission p, .vision p {
    text-align: justify;
}
