body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left, .right {
    padding: 20px;
}

.left {
    flex: 1;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 1;
    background-color: #283593;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    color: #283593;
}

p

h2 {
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
}

label {
    margin-top: 10px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.remember-me input {
    margin-top: 4%;
    margin-right: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #283593;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a237e;
}

a {
    color: #283593;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}
