body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #e0f7fa;
}

.sidebar {
    background-color: #1a237e;
    color: #ffffff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(-250px);
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile h3 {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav ul li a i {
    margin-right: 10px;
}

.user-info {
    text-align: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-content {
    background-color: #e0f7fa;
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.main-content h1 {
    text-align: center;
    color: #1a2b5d;
    font-size: 300%;
    margin-top: 0%;
}

.reports-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; 
}

.report-card {
    margin-top: 0%;
    background-color: #ffffff;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 70%;
}

.report-card h2 {
    color: #1a2b5d;
    margin-bottom: 5px;
}

.report-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

